/* RWD：螢幕寬度低於720px時隱藏navbar */
#header-body {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    /* 將 HEADER.height 替換為 CSS 變數或固定值 */
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    /* 替換 HEADER.backgroundColor */
    color: #fff;
    width: 100%;
    z-index: 100;
    transition: height 0.2s ease;
}

/* 漢堡選單 */
#burger-menu-button {
    display: none;
    position: fixed;
    left: 20px;
    top: 15px;
    font-size: 28px;
}

#burger-menu-button:hover {
    cursor: pointer;
}

/* LOGO */
.logoContainer {
    flex: 1;
    display: flex;
    height: 70px;
    padding-left: 20px;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.beta-text {
    margin-left: 10px;
    top: 25%;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: #ffd3e4;
}

.header-logo {
    cursor: 'pointer';
    height: 70px;
    padding: 14px;
}

.header-logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #ffd3e4;
}

/* 導覽列 */
.nav {
    flex: 1.25;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

#nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

#nav-list li {
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}

#nav-list li:hover {
    border-bottom: 2px solid #ffd3e4;
}

.nav-link {
    color: #ffd3e4;
    text-decoration: 'none';
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .nav {
        flex: 1.5;
        text-align: right;
        padding-right: 20px;
        text-align: center;
    }

    .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    #header-body {
        flex-direction: column;
    }

    #burger-menu-button {
        display: block;
    }

    .nav {
        width: 90%;
        text-align: center;
        padding-right: 0px;
    }

    #nav-list {
        display: none;
        flex-direction: column;
        justify-content: start;
        line-height: 50px;
        top: 100px;
        width: 100%;
    }

    .nav-link {
        font-size: 20px;
        /* 初始為透明 */
        opacity: 0;
        transition: opacity 0.5s ease;
        /* 控制動畫效果 */
    }

    .nav-link.show {
        opacity: 1;
        /* 完全顯示 */
        transform: translateY(0);
        /* 回到原位 */
    }

    /* LOGO置中 */
    .logoContainer {
        flex: 0;
        justify-content: center;
        padding-left: 0;
    }
}