/* home.css */
/* banner */
.home-followButton {
    font-size: 22px;
    text-decoration: none;
    color: #ffd3e4;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 6px;
}

.home-banner {
    width: 100%;
    height: 350px;
    padding: 15px 0;
    background-image: url('@/assets/xiaojean/A.無分類/006-小靜&水滴.jpg');
    background-repeat: 'no-repeat';
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: 'center';
    font-size: 22px;
    font-weight: 700;
    line-height: 60px;
}

.home-section {
    width: 1024px;
    height: 600px;
    margin: 20px 0;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section1LinkArea li {
    cursor: pointer;
    border: 2px solid transparent;
}

.home-section1LinkArea li:hover {
    border: 2px solid #ffd3e4;
}

/* section1 */
.home-section1IntroArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-section1LinkArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* section 1.5 - tear */
#header-tear {
    height: 400px;
}

.tear-div-container {
    width: 90%;
    display: flex;
    align-items: center;
}

.tear-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tear-logo-container img {
    width: 200px;
    height: 200px;
    border: 2px solid #D4EDFF;
    border-radius: 50%;
    padding: 10px;
}

.tear-intro-container {
    width: 100%;
    line-height: 40px;
}

.tear-intro-container li {
    text-align: center;
    font-size: 18px;
    color: #D4EDFF;
    list-style: none;
}

/* section 2 - donate */
#header-donate {
    height: auto;
}

#header-donate h1 {
    border-bottom: 3px solid #ffd3e4;
    font-size: 32px;
    padding: 10px 0;
    text-align: center;
    width: 70%;
    color: #ffd3e4;
}

#header-donate ul {
    text-align: left;
    margin-top: 10px;
    line-height: 45px;
}

#header-donate li {
    font-size: 18px;
    color: #D4EDFF;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
    position: relative;
    padding-left: 1.2em;
}

#header-donate li::before {
    content: "•";
    color: #D4EDFF;
    position: absolute;
    left: 0;
    font-size: 1.2em;
    line-height: 1;
}

/* Cheap Server */
#header-cheap-server {
    width: 1024px;
    height: auto;
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-cheap-server img {
    margin-bottom: 20px;
}

#header-cheap-server div {
    width: 70%;
    height: auto;
    line-height: 40px;
}

#header-cheap-server p {
    font-size: 18px;
    color: #D4EDFF;
}

#cheap-server-link {
    cursor: pointer;
    border: 2px solid transparent;
}

#cheap-server-link:hover {
    border: 2px solid #ffd3e4;
    scale: 1.05;
    border-radius: 10px;
}

#cheap-server-link:active {
    scale: 0.95;
}

/* 媒體查詢，用於螢幕寬度低於720px時 */
@media (max-width: 1024px) {

    /* banner */
    .home-banner {
        padding: 15px 0;
    }

    /* section1 */
    .home-section {
        width: 90%;
        height: auto;
    }

    .home-section1Container {
        flex-direction: column;
        align-items: center;
    }

    .home-section1IntroArea {
        width: 90%;
    }

    .home-section1LinkArea {
        width: 90%;
        margin-top: 10px;
    }

    /* Section 1.5 - tear */
    #header-tear {
        height: auto;
    }

    .tear-div-container {
        flex-direction: column;
    }

    .tear-intro-container {
        text-align: start;
    }

    /* Setction 3 - Minecraft server */
    #header-cheap-server {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .home-banner {
        height: auto;
        font-size: 18px;
    }

    /* donate */
    #header-donate ul {
        width: 80%;
    }

    #header-donate h1 {
        font-size: 28px;
    }

    #header-donate li {
        font-size: var(--p-font-size);
    }

    #header-donate-link a {
        display: flex;
        flex-direction: column;
        font-size: var(--p-font-size);
    }

    /* section 1.5 -tear */
    .tear-intro-container li {
        font-size: 16px;
    }

    /* section 2 - cheap server */
    #header-cheap-server img {
        width: 80%;
    }

    #header-cheap-server p {
        font-size: var(--p-font-size);
    }
}